
{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Wikirumours</title>
		<meta http-equiv="X-UA-Compatible" content="IE-Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,600&display=swap" rel="stylesheet">
		<style type="text/css">
			body{font-family: 'Nunito', sans-serif;}
		</style>
	</head>
	<body>
		<div class="moz-forward-container">
			<br>
			<table style="background-color: #fff; table-layout: fixed; border:none;" cellpadding="0"; cellspacing="0" ; align="center"; width="600px"; bgcolor="#fff">
				<!-- <tr>
					<td>
						<table style="background-color: #fff; table-layout: fixed;" cellspacing="0"; cellpadding="0"; align="center"; width="600px"; bgcolor="#fff" >
							<tbody>
								<tr>
									<td style="height: 297px">
										<table style="width: 600px; height: 100%; text-align: center;" cellspacing="0"; cellpadding="0";>
											<tr>
												<td style="height: 20px">

												</td>
											</tr>
											

										

										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr> -->
				<tr>
					<td align="center">
						<center style="width: 100%">
						<table cellpadding="0"; cellspacing="0"; align="center";width="100%">
							<tbody>
								<tr>
									<td style="padding:30px 40px; text-align: center;background-color: #F9F9F9">
	
										<p style="margin:0; font-size: 15px; line-height: 24px; letter-spacing: 1px; color: #000">
                      Email Confirmation!! Reset your password here.
                    </p>
									</td>
								</tr>
								<tr>
									<td style="padding:30px; text-align: left;">

										<p style="margin:0; font-size: 16px; line-height: 26px; padding-bottom: 30px; color: #000">Hello <strong>{{ user }}</strong>, <br>
                      <br>
                      Click on the button below to reset your password.
                      </p>
                      <!-- <span style="font-size:16px; font-family:verdana, sans-serif; text-align:center; color:#ffffff; font-weight:normal; background-color:#EFCE1B;display:inline-block;border-radius: 4px;box-shadow: 0 10px 30px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.1);">
                          <a style="text-decoration:none; color:#ffffff; font-weight:normal;display:block;padding:7px 10px;" target="_blank" href="">Activate Now</a>
                      </span> -->
                    <div class="social-button" style="text-align: center;font-size:16px; font-family:verdana, sans-serif; margin-bottom: 25px; color:#ffffff; font-weight:normal; background-color:#dc1d4d;display:block;border-radius: 4px;box-shadow: 0 10px 30px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.1);">
                      <a style="text-decoration:none; color:#ffffff; font-weight:normal;display:block;padding:7px 10px;" target="_blank" href="http://{{ domain }}/newapi/password_reset/confirm/{{ token }}">Reset your password</a>
                    </div>
										<!-- <div class="social-button" style="text-align: center;">
											<a href="#" title="App-Store" style="display: inline-block; padding-right: 10px; ">
												<img src="http://{{ domain }}{% static '/images/e-app-store-01.png' %}" alt="app-store">
											</a>
											<a href="#" title="Play-Store" style="display: inline-block; padding-left: 10px; ">
												<img src="http://{{ domain }}{% static '/images/e-play-store-01.png' %}" alt="play-store">
											</a>
										</div> -->

									</td>
								</tr>
								<!-- <tr>
									<td style="background: #F5F5F5; padding:25px 28px">
										<strong style="font-size: 20px; line-height: 23px; color: #000;  font-style: italic; margin:0;padding-bottom: 20px; display:block; font-weight: 700 ">Here is what makes us Unique</strong>
											<ul style="padding:0; margin:0; text-align: center;">
											<li style="list-style-type: none; display: inline-block; text-align: center;width: 12%; padding-right:10px; margin:0">

													<img src="http://{{ domain }}{% static '/images/e-mic.png' %}" alt="mic" >

												<strong style="display: inline-block; text-align: center; font-size: 12px; font-weight:500; margin-top:5px; color:#000">Online Masterclass</strong>
											</li>
											<li style="list-style-type: none; display: inline-block; text-align: center;width: 12.4%; padding-right:10px;margin:0">

													<img src="http://{{ domain }}{% static '/images/e-party.png' %}" alt="party">

												<strong style="display: inline-block; text-align: center; font-size: 12px; font-weight:500; margin-top:5px; color:#000">Video Party Rooms</strong>
											</li>
											<li style="list-style-type: none; display: inline-block; text-align: center;width: 12%; padding-right:10px;margin:0">

													<img src="http://{{ domain }}{% static '/images/e-contest.png' %}" alt="contest">
												<strong style="display: inline-block; text-align: center; font-size: 12px; font-weight:500; margin-top:5px; color:#000">Live Contests</strong>
											</li>
											<li style="list-style-type: none; display: inline-block; text-align: center;width: 12%; padding-right:10px;margin:0">

													<img src="http://{{ domain }}{% static '/images/e-music.png' %}" alt="music">

												<strong style="display: inline-block; text-align: center; font-size: 12px; font-weight:500; margin-top:5px; color:#000">Diverse Genres</strong>
											</li>
											<li style="list-style-type: none; display: inline-block; text-align: center;width: 12%; padding-right:10px;margin:0">

													<img src="http://{{ domain }}{% static '/images/e-musical-notes.png' %}" alt="musical-notes">

												<strong style="display: inline-block; text-align: center; font-size: 12px; font-weight:500; margin-top:5px; color:#000">Super HD Tracks</strong>
											</li>
											<li style="list-style-type: none; display: inline-block; text-align: center;width: 12%;padding-right:10px;margin:0">

													<img src="http://{{ domain }}{% static '/images/e-star.png' %}" alt="star">
												<strong style="display: inline-block; text-align: center; font-size: 12px; font-weight:500; margin-top:5px; color:#000">Grade up Rewards</strong>
											</li>
											<li style="list-style-type: none; display: inline-block; text-align: center;width: 12%;margin:0">

													<img src="http://{{ domain }}{% static '/images/e-jams.png' %}" alt="jams">
												<strong style="display: inline-block; text-align: center; font-size: 12px; font-weight:500; margin-top:5px; color:#000">Celebrity Jams</strong>
											</li>
										</ul>
									</td>
								</tr> -->
								<tr>
									<td style="background: #0E0230; padding: 23px 0">
										<ul style="padding: 0 0 20px; margin:0; text-align: center;">
											<li style="list-style-type: none; display: inline-block; color: #fff; font-size: 14px; line-height: 14px; margin:0;">
												<a href="#" title="Legal Policies" style="color: #fff; text-decoration: none; padding:0 5px";>Legal Policies</a>
												|
											</li>
											<li style="list-style-type: none; display: inline-block; color: #fff;font-size: 14px; line-height: 14px;margin:0">
												<a href="#" title="Privacy Policy"style="color: #fff; text-decoration: none;padding:0 5px";>Privacy Policy</a>

												|
											</li>
											<li style="list-style-type: none; display: inline-block; color: #fff;font-size: 14px; line-height: 14px; margin:0">
												<a href="#" title="Terms of service"style="color: #fff; text-decoration: none;padding:0 5px";>Terms of service</a>
											</li>
										</li>
									</ul>
									<!-- <div class="social">
										<ul style="padding: 0; margin:0; text-align: center;">
											<li style="display: inline-block; padding-right: 3px;margin:0">
												<a href="#" title="Facebook" style=" display: inline-block;">
													<img src="http://{{ domain }}{% static '/images/e-facebook-01.png' %}" alt="Facebook">
												</a>
											</li>
											<li style="display: inline-block;padding-left: 3px; margin:0">
												<a href="#" title="Instagram" style=" display: inline-block;" >
													<img src="http://{{ domain }}{% static '/images/e-instagram-01.png' %}" alt="Instagram">
												</a>
											</li>
										</ul>
									</div> -->
								</td>
							</tr>
						</tbody>
					</table>
					</center>
				</td>
			</tr>

		</table>
	</div>
</body>
</html>
